<%= form_with(model: event, local: true) do |f| %>
    <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-4 section">
        <div class="section-header">Editing Event</div>

        <div class="row row-padding field">
          <div class="col-sm-6 right-justify"><%= f.label 'Title:' %></div>
          <div class="col-sm-6 left-justify"><%= f.text_field :title, id: :event_title %></div>
        </div>

        <div class="row row-padding field">
          <div class="col-sm-6 right-justify"><%= f.label 'Category:' %></div>
          <div class="col-sm-6 left-justify"><%= f.collection_select :category_id, Event.categories, :first, :last %></div>
        </div>

        <div class="row row-padding field">
          <div class="col-sm-6 right-justify"><%= f.label 'Start Date:' %></div>
          <div class="col-sm-6 left-justify"><%= f.datetime_select :start, id: :event_start %></div>
        </div>

        <div class="row row-padding field">
          <div class="col-sm-6 right-justify"><%= f.label 'End Date:' %></div>
          <div class="col-sm-6 left-justify"><%= f.datetime_select :end, id: :event_end %></div>
        </div>

        <div class="row row-padding field">
          <div class="col-sm-6 right-justify"><%= f.label 'Location:' %></div>
          <div class="col-sm-6 left-justify"><%= f.text_field :location, id: :event_location %></div>
        </div>

        <div class="row row-padding field">
          <div class="col-sm-6 right-justify"><%= f.label 'Is this event public?' %></div>
          <div class="col-sm-6 left-justify"><%= f.check_box :ispublic, id: :event_ispublic %></div>
        </div>
      </div>

      <!-- Tasks Section -->
      <div class="col-md-3 section">
        <div class="section-header">Tasks</div>
        <div class="section-body">

        </div>
      </div>

      <!-- Comments Section -->
      <div class="col-md-3 section">
        <div class="section-header">Comments</div>
        <div class="section-body">

        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
