<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3 section">
    <h1>Events</h1>
    <table>
      <tr>
        <% @events.each do |e| %>
            <td><%= e.title %></td>
            <td><%= link_to 'Edit', edit_event_path(e) %></td>
            <td><%= link_to 'Destroy', e, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    </table>
    <%= link_to 'New Event', new_event_path, {:class => 'button'} %>
  </div>

  <div class="col-md-8">
    <%= month_calendar events: @events, attribute: :start, end_attribute: :end do |date, events| %>
        <%= date.day %>

        <% events.each do |e| %>
          <div class="event-calendar">
            <%= e.title %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
